
<!DOCTYPE html>

<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon/iconevn.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link href="~/Content/assets/vendor/fonts/boxicons.css" rel="stylesheet" />

    <!-- Core CSS -->
    <link href="~/Content/assets/vendor/css/core.css" rel="stylesheet" class="template-customizer-core-css" />
    <link href="~/Content/assets/vendor/css/theme-default.css" rel="stylesheet" class="template-customizer-theme-css" />
    <link href="~/Content/assets/css/demo.css" rel="stylesheet" />

    <!-- Vendors CSS -->
    <
    <link href="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />

    <!-- Page CSS -->
    <!-- Page -->
    <link href="~/Content/assets/vendor/css/pages/page-auth.css" rel="stylesheet" />
    <!-- Helpers -->
    <script src="~/Content/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/Content/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->
    @RenderBody()
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <img class="app-brand-img" src="~/Content/assets/img/favicon/logoevn.png" alt="">
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h5 class="mb-2 text-center">Đăng nhập hệ thống 👋</h5>
                        <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                            <div class="mb-3">
                                <label for="email" class="form-label">Khu đô thị</label>
                                <select class="form-select" id="control1">
                                    <option selected>Chọn khu đô thị</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Người dùng</label>
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       name="email-username"
                                       placeholder="Nhập tên người dùng"
                                       autofocus />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Mật khẩu</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-between align-items-center ">
                                <div class="mb-3 d-flex align-items-center justify-content-center">
                                    <label for="email" class="form-label">Tháng/Năm</label>
                                    <select class="form-select d-flex" id="control1">
                                        <option>1/1/2023</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="remember-me" />
                                        <label class="form-check-label" for="remember-me"> Lưu thông tin </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Đăng Nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

</body>
</html>

